* { margin: 0; padding: 0; box-sizing: border-box; }

  html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    overflow: hidden;
  }

  
	@font-face {
	font-family: "Game Over";
	src: url("../fonts/gameover.woff") format("woff"), url("../fonts/gameover.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}

  .stage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .word-wrap {
    position: relative;
    font-family: 'Game Over', monospace;
    color: #2d2d2d;
    white-space: nowrap;
    line-height: 1;
    /* Crisp pixel font rendering */
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    font-smooth: never;
    image-rendering: pixelated;
  }

  .letter {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    will-change: transform;
    pointer-events: none;
  }